@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}

.main {
  min-height: 100vh;
  position: relative;
  width: 100%;
  background-image: url("https://i.pinimg.com/originals/78/86/77/788677844487092d3b038014ea50ff04.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  background-color: rgba(255, 255, 255, 0.0); /* Transparent white background */
  backdrop-filter: blur(10px); /* Apply a blur effect */
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  z-index: 1000; /* Make sure it's on top of other content */
}

.logo {
  margin-left: 37px;
  padding: 0;
  text-align: left;
  font-size: 34px;
  color: #ffffff; /* Text color */
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}


.sidebar {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: rgba(0, 0, 0, 0);
  backdrop-filter: blur(10px);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(255, 255, 255);
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menu-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 30px;
  cursor: pointer;
  z-index: 2;
  color: rgb(255, 255, 255);
}






.main .image-container {
  padding: 10px;
}

.main .image-container .image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main .image-container .image img {
  width: 300px;
  height: 300px;
  align-items: center;
}


.main .image-container h1 {
  color: #00bcd4;
  text-align: center;
  margin-bottom: 10px;
  font-size: 40px;
}

.main .image-container p {
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}

.main .input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 50px;
  border-radius: 20px;
  background: #00bcd4;
}

.main .input .talk {
  background: transparent;
  outline: none;
  border: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
}

.main .input .talk i {
  font-size: 20px;
  color: #ffffff;
}

.main .input .content {
  color: #ffffff;
  font-size: 15px;
  margin-right: 20px;
}
